/* What */
#what .items {
  display: block;
}

/* Align Items*/ 
#what .items .item {
  display: flex;
  text-align: left;
  
}

#what .items .item i {
  align-self: center;
  margin-bottom: 0;
  margin-right: 1.3rem;
}


/* SmartPhone */
@media(max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 1rem;
  }

  #showcase .showcase-content {
    top: 104px;
  }

  #who {
    display: block;
  }
  
  #who .who-img {
    display: none;
  }
  
  #clients .items  img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    display: block;
  }
  
  #contact .map {
    height: 250px;
    border-top: 5px solid #333;
  }
}




